# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

software/examples/geofence-functions

software/examples/testing

software/collar/OpenFenceBoards

software/web/bower_components

software/web/data

software/web/node_modules

hardware/pcbs/MainCollar/MainCollarREV1.zip

software/web/Untitled-1
