<!-- Creates Main Panel -->
<div id="collar" ng-controller="collarCtrl">
    <h3 align="center" >Collar Settings</h3>
        <div class="left-pane">
            
            <h3 align="center">Select the Animal to Edit</h3>
            <table class="table-devices" >
                <thead><tr><td width="33%"><b>ID</b></td><td width="33%"><b>Paddock</b></td><td width="34%"><b>RF ID</b></td></tr></thead>
                <tbody>
                    <tr ng-repeat="device in deviceList" ng-class="{'selected':$index == selectedRow}" ng-click=view($index)><td>{{device.name}}</td><td>{{device.breed}}</td><td>{{device.RF_ID}}</td></tr>
                </tbody>
            </table>
       
        </div>
        <div class="right-pane">
            <h3 align="center">Animal and Collar Settings</h3>
            <form id = "collarForm" name ="collarForm" novalidate>
                <div class="form-group">
                    <label for="name">Animal Name/ID: </label>
                    <input type="text" class="form-control" id="name" placeholder="Bessy" ng-model="formData.name" required>
                </div>
                <div class="form-group">
                    <label for="born">Born on: </label>
                    <input type="datetime-local" class="form-control" id="born" ng-model="formData.born" required>
                </div>
                <div class="form-group">
                    <label for="breed">Breed: </label>
                    <input type="text" class="form-control" id="breed" placeholder="Angus Cow" ng-model="formData.breed" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender: </label><br>
                    <input type="radio" name="gender" value="male" ng-model="formData.gender"> Male
                    <input type="radio" name="gender" value="female" ng-model="formData.gender"> Female<br>
                </div>
                <div class="form-group">
                    <label for="comments">Comments: </label>
                    <input type="text" class="form-control" id="comments" placeholder="" ng-model="formData.comments" required>
                </div>
                <div class="form-group">
                    <label for="paddock">Paddock: </label>
                    <input type="number" class="form-control" id="paddock" placeholder="0" ng-model="formData.paddock" required min="0" max="5">
                </div>
                <div class="form-group">
                    <label for="colour">Colour: </label>
                    <input type="color" class="form-control" id="colour" ng-model="formData.colour" required>
                </div>
                <div class="form-group">
                    <label for="RF_ID">Collar RF ID: </label>
                    <input type="number" class="form-control" id="RF_ID" placeholder="123" ng-model="formData.RF_ID" required min="1" max="254">
                </div>
                <div class="form-group">
                    <label for="testing">Testing Mode: </label>
                    <input type="checkbox" class="form-control" id="testing" ng-model="formData.testing">
                </div>
                <div class="form-group">
                    <label for="distthresh">Distance Threshhold (GPS datalogging):  </label>
                    <input type="number" id="distthresh" placeholder="0" ng-model="formData.distthresh" required min="1" max="255">
                </div>
                <div class="form-group">
                    <label for="motionthresh">Motion Threshhold (Wake on Motion):  </label>
                    <input type="number" id="motionthresh" placeholder="0" ng-model="formData.motionthresh" required min="0" max="255">
                </div>
                <div class="form-group">
                    <label for="magbias">Magnetometer Calibration Biases (X, Y, Z):  </label>
                    <input type="number"  id="magbias" placeholder="0" ng-model="formData.magbias0" required min="-1000" max="1000">
                    <input type="number"  id="magbias" placeholder="0" ng-model="formData.magbias1" required min="-1000" max="1000">
                    <input type="number"  id="magbias" placeholder="0" ng-model="formData.magbias2" required min="-1000" max="1000">
                </div>
                <button type="submit" class="btn btn-danger btn-50p" ng-click="saveAs()" ng-disabled="collarForm.$invalid">Save As</button>
                <button type="submit" class="btn btn-danger btn-50p" ng-click="update()" ng-disabled="collarForm.$invalid">Update</button>
            </form>
        </div>
    
</div>